.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-mdc-form-field {
    margin-top: 16px;
  }
  button{
    background-color: black;
    color: rgb(255, 255, 255);
    border-radius: 10%;
    height: 30pt;
  }
  button:hover{
    background-color: white;
    color:black;
    border:white;
    
  }
  @keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #f1f1e9;
    overflow: hidden;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(185, 188, 39, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 29%;
    width: 130px;
    height: 130px;
    bottom: -130px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 8%;
    width: 135px;
    height: 135px;
    bottom: -135px;
    animation-delay: 2s;
}
.background li:nth-child(2) {
    left: 60%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 5s;
}
.background li:nth-child(3) {
    left: 74%;
    width: 189px;
    height: 189px;
    bottom: -189px;
    animation-delay: 6s;
}
.background li:nth-child(4) {
    left: 44%;
    width: 175px;
    height: 175px;
    bottom: -175px;
    animation-delay: 13s;
}
.background li:nth-child(5) {
    left: 15%;
    width: 183px;
    height: 183px;
    bottom: -183px;
    animation-delay: 10s;
}
.background li:nth-child(6) {
    left: 28%;
    width: 133px;
    height: 133px;
    bottom: -133px;
    animation-delay: 23s;
}
.background li:nth-child(7) {
    left: 84%;
    width: 141px;
    height: 141px;
    bottom: -141px;
    animation-delay: 14s;
}
.background li:nth-child(8) {
    left: 69%;
    width: 199px;
    height: 199px;
    bottom: -199px;
    animation-delay: 19s;
}
.background li:nth-child(9) {
    left: 25%;
    width: 102px;
    height: 102px;
    bottom: -102px;
    animation-delay: 22s;
}

.un{
  display: flex;
  justify-content: space-evenly;
}
app-footer{

    position:relative;
   
    background-color: rgba(0, 0, 0, 0.7);
    height: 20pt;
}