
<header class=""style="background-color:#545554 " >
    <nav class="navbar  container" style="height:33px;padding-top: 0%;">
     <div >
        
            <a href="mailto:contact@ted-university.com" class="float-left"style="color:black;padding-right:10pt">
                <i class="fa fa-envelope" aria-hidden="true"></i>contact@ted-university.com
            </a>
            <a href="tel:(+216) 27 294 294"  style="color:black;">
                <i class="fa fa-phone-square" aria-hidden="true"></i>(+216) 27 294 294
            </a>
        
     </div>
    <div style="display:flex;padding-left: 430pt; color: black;padding-top: 4pt;">


     



     <div class="dropdown-center"  style="padding-left: 100px;">
      <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
       Bienvenue  <i class="fa fa-user-circle-o" aria-hidden="true"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" (click)="goToprofile()">Mon compte</a></li>
        <li><a class="dropdown-item" href="#">changer mot de passe</a></li>
        <li><a class="dropdown-item" (click)=" goToLog()">Se déconnecter</a></li>
        
      </ul>
    </div>
    
    </div>     
    
    </nav>
  </header>
<header class="bg" style="background-color: #FED51B;">
    <nav class="navbar navbar-expand-lg navbar-light bg-gold container">
      <a class="navbar-brand" href="#">TED university</a><img src="logo.png" style="height:37pt;width:60pt">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" (click)=" goToEtudiant()">Acceuil</a>
          </li>
         <li><div class="dropdown-center">
            <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
             Mon espace 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Emploi du temps</a></li>
              <li><a class="dropdown-item" href="#">Absences</a></li>
              <li><a class="dropdown-item" href="#">Notes et résultat</a></li>
              <li><a class="dropdown-item" href="#">Plan d'études</a></li>
            </ul>
          </div></li> 
          <li><div class="dropdown-center">
            <a class="nav-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
             Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="goToDemandes()">Mes demandes</a></li>
              <li><a class="dropdown-item" (click)="goToReclamations()">Réclamations</a></li>
            </ul>
          </div></li> 
          <li class="nav-item">
            <a class="nav-link" (click)=" goToPaiement()">Paiement</a>
          </li>
          
        </ul>
      </div>
    </nav>
  </header>
   