
<section class="all">
<div class="nav-items">
    <div class="nav-item" (click)="gotoDa()">
      <fa-icon [icon]="faDashboard" ></fa-icon>
      <span>Dashboard</span>
    </div>
    <div class="nav-item" (click)="gotoPr()">
    <fa-icon [icon]="faUser" ></fa-icon>
      <span>Professors</span>
    </div>
    <div class="nav-item" (click)="gotoS()">
      <fa-icon [icon]="faUserGraduate" ></fa-icon>
      <span>Students</span>
    </div>
    
    <div class="nav-item"  (click)="gotoInscri()" >
      <fa-icon [icon]="faFilePrescription"></fa-icon>
      <span>Admissions </span>
    </div>
    
    <div class="nav-item" (click)="toggleAdmissionsPanel()" (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <fa-icon [icon]="faCalendarDays"></fa-icon>
      <span style="justify-content: space-between;">Calender   <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
    </div>

    <div class="additional-nav-items" *ngIf="isAdmissionsPanelOpen">
      <div class="nav-item" (click)="gotocalender()">
       
        <span>Courses Calendar</span>
      </div>
      <div class="nav-item" (click)="gotoeven()">
       
        <span>Event Calendar</span>
      </div>
    </div>

    
    <div class="nav-item"  (click)="gotocour()">
      <fa-icon [icon]="faBook"></fa-icon>
      <span>Courses</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="faChartBar"></fa-icon>
      <span>Attendances</span>
    </div>
    <div class="nav-item" (click)="gotodemrec()" >
      <fa-icon [icon]="faContactBook"></fa-icon>
      <span>Demandes & réclamations</span>
    </div>
    <div class="nav-item"  (click)="gotopaymen()">
      <fa-icon [icon]=" faMoneyBills"></fa-icon>
      <span>Payements</span>
    </div>
   
  </div>

</section>
