<body>

  <div class="bg-image"></div>
  
  <div class="bg-text">
    <div class="container py-5 h-100" style="align-items: center;padding: 130pt;" >
      <div class="row d-flex justify-content-center align-items-center h-100" >
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;background-color: rgb(61, 60, 60);width: 400pt;">
            <div class="row g-2">
            
              
                <div class="card-body  text-black" style="align-items: center;width: 100pt;">
                   <form #form="ngForm">
                    <br>
                    <h5 class=" mb-3 pb-3" style="letter-spacing: 1px; color: aliceblue;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: medium;">Veuillez saisir votre login et mot de passe</h5>
  <hr>
                    <div class=" form-outline mb-4" style="display: flex;padding-right: 10pt;">
                     <nav style="padding-right: 20pt;"> <i class="fa fa-user" aria-hidden="true" style="color:aliceblue;font-size: 31pt ;"></i></nav>
                     <input for="username" [(ngModel)]="username" name="username" type="text" id="Identifiant" class="form-control form-control-lg" placeholder="Identifiant" />
                  
                    
                    </div>
                    <p style="color:red;font-size: 10pt;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" id="error-message"></p>

                    <div class="form-outline mb-4"  style="display: flex;padding-right: 10pt;">
                      <nav style="padding-right: 20pt;">  <i class="fa fa-lock" aria-hidden="true" style="color:aliceblue;font-size: 31pt ;"></i></nav>
                      <input for="password" [(ngModel)]="password"  name="password" type="password"  class="form-control form-control-lg" placeholder="Mot de passe"/>
                   
                    </div>
                   
  <div style="display: flex;justify-content:center">
                    <div class="" style="padding-right: 20pt;">
                      <button class="btn btn-dark btn-lg btn-block" type="submit" (click)="onSubmit(form)" style="height:45px" >Se connecter </button>
                    </div>
                    <button class="btn btn-dark btn-lg btn-block" type="button" routerLink="/inscri" style="height:45px">Pré-inscription</button>
                    
        </div>
        <hr>
     
                    <a class="small " style="color: aliceblue;" (click)=" Mdpoublie()">  <i class="fas fa-user-alt"></i>Mot de passe oublié?</a>
                    <div class="" style="color:aliceblue;font-size: 10pt;">
                      <hr>
                     
                     © Copyrights 2023 Ted University Tous droits réservés.
               
                              </div>
                  </form>
  
                </div>
              </div>
            </div>
           </div>
      </div>
    </div>
  </div>
 
  </body>
 