.top-section {
  @media only screen and (max-width: 1600px) {
    width: 1280px;
  }
  @media only screen and (max-width: 1500px) {
    width: 1180px;
  }
  @media only screen and (max-width: 1400px) {
    width: 1080px;
  }
  @media only screen and (max-width: 1200px) {
    width: 980px;
  }
}

.middle-section {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  .middle-section {
    width: 680px;
  }
}
@media only screen and (max-width: 900px) {
  .middle-section {
    width: 680px;
  }
}
@media only screen and (max-width: 900px) {
  .middle-section {
    width: 680px;
  }
}
@media only screen and (max-width: 900px) {
  .middle-section {
    width: 680px;
  }
}
.middle-section .widget {
  height: 350px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
}

.middle-section .widget.left {
  width: 90px;
}
@media only screen and (max-width: 1600px) {
  .middle-section .widget.left {
    width: 790px;
  }
}
@media only screen and (max-width: 1500px) {
  .middle-section .widget.left {
    width: 90px;
  }
}
@media only screen and (max-width: 1400px) {
  .middle-section .widget.left {
    width: 460px;
  }
}
@media only screen and (max-width: 1200px) {
  .middle-section .widget.left {
    width: 90px;
  }
}

.middle-section .widget.right {
  width: 350px;
}


.bottom-section .widget {
  height: 450px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
}

.bottom-section .widget.left {
  width: 800px;
  height:300px;
}
@media only screen and (max-width: 1200px) {
  .bottom-section .widget.left {
    width: 70px;
  }
}

.bottom-section .widget.right {
  width: 670px;
}
@media only screen and (max-width: 1600px) {
  .bottom-section .widget.right {
    width: 570px;
  }
}
@media only screen and (max-width: 1500px) {
  .bottom-section .widget.right {
    width: 470px;
  }
}
@media only screen and (max-width: 1400px) {
  .bottom-section .widget.right {
    width: 370px;
  }
}
@media only screen and (max-width: 1200px) {
  .bottom-section .widget.right {
    width: 370px;
  }
}
.middle-section .widget {
  height: 50vh;
  /* other styles */
}

.bottom-section .widget {
  height: 30vh;
  /* other styles */
}
.cointainer{
  padding:40px;
}

