<app-tete></app-tete>

<nav class="flex">
  <nav style="position: fixed">
<app-sidenav></app-sidenav>
</nav>
<div class="parttwo">
    <hr>
    <section class="head">
      
        <div>
          
<h2 style="padding-right: 640px;color: rgb(16, 140, 241)">Admissions </h2>
<p style="color:gray;font-size: 9pt;">TED university</p>
</div>
</section>
<div id="chart"><div  class="chart-container" [chart]="chart"></div></div>
<section class="List" style="display:flex;justify-content: space-between;" >
  <div>


    <div class="Licence" style="display:flex"><h2 style="padding-right: 30px;">Candidats List Licence</h2> <div class="dropdown">
      <a class="btn btn-light  btn-sm  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Filter
      </a>
    
      <ul class="dropdown-menu">
        <li><div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          Mention trés bien
          </label>
        </div></li>
        <li><div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          Mention Bien
          </label>
        </div></li>
        <li><div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
          Certificats
          </label>
        </div></li>
      </ul>
    </div>
  </div>
        <table class="table align-middle mb-0 bg-white">
          <thead class="bg-light">
            <tr>
              <th>Name</th>
              <th>Class</th>
             
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img
                      src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                      alt=""
                      style="width: 45px; height: 45px"
                      class="rounded-circle"
                      />
                  <div class="ms-3">
                    <p class="fw-bold mb-1">John Doe</p>
                    <p class="text-muted mb-0">john.doe@gmail.com</p>
                  </div>
                </div>
              </td>
              <td >
                <p class="fw-normal mb-1">Software engineer</p>
                <p class="text-muted mb-0">IT department</p>
              </td>
              
              <td>
              
                  <div style="color:blue;"><i class="fa fa-eye" aria-hidden="true"  data-bs-toggle="modal" data-bs-target="#exampleModal1" id="view"></i></div>
                
       
              </td>
            </tr>
           
          </tbody>
        </table>
        </div>
        <div class="vertical-line"></div>
      <div>


  <div class="master" style="display:flex"><h2 style="padding-right: 30px;">Candidats List Master</h2> <div class="dropdown">
    <a class="btn btn-light  btn-sm  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Filter
    </a>
  
    <ul class="dropdown-menu">
      <li><div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
        Mention trés bien
        </label>
      </div></li>
      <li><div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
        Mention Bien
        </label>
      </div></li>
      <li><div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
        Certificats
        </label>
      </div></li>
    </ul>
  </div>
</div>
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th>Name</th>
      <th>Class</th>
     
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="d-flex align-items-center">
          <img
              src="https://mdbootstrap.com/img/new/avatars/8.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">John Doe</p>
            <p class="text-muted mb-0">john.doe@gmail.com</p>
          </div>
        </div>
      </td>
      <td >
        <p class="fw-normal mb-1">Software engineer</p>
        <p class="text-muted mb-0">IT department</p>
      </td>
      
      <td>
      
          <div style="color:blue;"><i class="fa fa-eye" aria-hidden="true"  data-bs-toggle="modal" data-bs-target="#exampleModal1" id="view"></i></div>
        

      </td>
    </tr>
   
  </tbody>
</table>
      </div>
</section>

</div>



</nav>
 <!--modal-->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" >Informations</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <section class="two" style="display: flex;justify-content: space-evenly;">
        <img src="\assets\male.jpg" id="img">
        <div class="col-lg-9 col-md-12">

    
        <label>Nom et prénom :</label><br>
        <label>Date de naissance :</label><br>
          <label>Mail :</label><br>
       <hr style="color:brown;height: 10px;" ><br>
          <label > Mes formations :</label>
        </div>
      </section>
      <div class="modal-footer">
        <button type="button" class="btn btn-tertiary" data-bs-dismiss="modal"  style="color:red">Reject <i class="fa fa-times" aria-hidden="true"></i></button>
        <button type="button"class="btn btn-tertiary" style="color:green" >Accept  <i class="fa fa-check" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
