<app-tete></app-tete>

<nav class="flex">
  <nav style="position: fixed">
<app-sidenav></app-sidenav>
</nav>
<div class="parttwo">
    <hr>
    <section class="head">
      
        <div>
          
<h2 style="padding-right: 640px;color:rgb(16, 140, 241)">Admissions </h2>
<p style="color:gray;font-size: 9pt;">TED university</p>
</div>
</section>
<div id="chart"><div  class="chart-container" [chart]="chart"></div></div>
<section class="List">
  <div class="licence"><h2>Candidats List Licence  <div class="dropdown">
    <a class="btn btn-primary  btn-sm  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Filter
    </a>
  
    <ul class="dropdown-menu">
      <li><div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
        Mention trés bien
        </label>
      </div></li>
      <li><div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
        Mention Bien
        </label>
      </div></li>
      <li><div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
        Certificats
        </label>
      </div></li>
    </ul>
  </div></h2></div>
  <div class="master"><h2>Candidats List Master <div class="dropdown">
    <a class="btn btn-primary  btn-sm  dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Filter
    </a>
  
    <ul class="dropdown-menu">
      <li><div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
        Mention trés bien
        </label>
      </div></li>
      <li><div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
        Mention Bien
        </label>
      </div></li>
      <li><div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
        Certificats
        </label>
      </div></li>
    </ul>
  </div></h2></div>
</section>
</div>
</nav>