
.flex{
    display: flex;
}
.parttwo{
    padding: 50px;
    padding-left: 200pt;
   
}
.head{
    display: flex;
justify-content: space-evenly;

}
#chart{
    height: 350px;
    width: 
    900px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 10px;
   
    box-shadow: 5px 5px 5px 5px #939393; 
}
.List{
    padding: 40pt;
    padding-left: 60px;

}
/*.master{
    background-color: #ffffff;
    border-radius: 5px;
   
   width:400px;
   
    box-shadow: 3px  3px 3px #939393; 
}*/
.vertical-line {
    border-left: 2px solid rgb(85, 85, 84);
    height: 400px; /* adjust height as needed */
    margin: 0 10px; /* adjust margin as needed */
  }
  
  label{
    color:rgb(144, 143, 143);
    font-size: large;
    font-weight: lighter;
}
h4{
    color:rgb(0, 0, 0);
    font-size:medium;
    font-weight: lighter;
}
#view:hover{
    font-size :20px;
    color:green;
}
#img{
    height:100pt;
    width:100pt;
    border-radius: 50%;
}
.custom-toast-center-middle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }