
<app-tete></app-tete>
<app-sidenav></app-sidenav>
<nav class="flex">


<div class="parttwo">
    <hr>
    <section class="head">
      
        <div>
          
<h2 style="padding-right: 640px;color:rgb(16, 140, 241)">Students</h2>
<p style="color:gray;font-size: 9pt;">TED university</p>
</div>


<div class="buttons">
<button type="button" class="btn btn-light">List View</button>
<button type="button" class="btn btn-light"  data-bs-toggle="modal" data-bs-target="#exampleModal1">Add</button>
</div>
</section>
<hr style="border:1px outset;background-color: #545554;color: #545554;height:3px;width:100%" />

<form class="row g-2">
  <div class="col-auto">
   
    <label for="inputPassword2" class="visually-hidden">CIN</label>
    <input type="text" class="form-control" id="inputPassword2" placeholder="CIN">
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Full name</label>
    <input type="text" class="form-control" id="inputPassword2" placeholder="Full name">
  </div>
  <div class="col-auto">
    <label for="inputPassword2" class="visually-hidden">Class</label>
    <input type="text" class="form-control" id="inputPassword2" placeholder="Class">
  </div>
  <div class="col-auto" id="btn">
    <button type="submit" class="btn mb-3">Search <i class="fa fa-search" aria-hidden="true"></i></button>
  </div>
</form>

<hr style="border:1px outset;background-color: #545554;color: #545554;height:3px;width:100%" />
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th >Name</th>
      <th>CIN</th>
      <th>Class</th>
      <th>Groupe</th>

      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      
      <td>
        <div class="d-flex align-items-center">
          <img
              src="https://mdbootstrap.com/img/new/avatars/8.jpg"
              alt=""
              style="width: 45px; height: 45px"
              class="rounded-circle"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">John Doe</p>
            <p class="text-muted mb-0">john.doe@gmail.com</p>
          </div>
        </div>
      </td>
      <td >
      012345678
      </td>
      <td >
        <p class="fw-normal mb-1">Licence Big data </p>
    
      </td>
    <td>Groupe 1</td>
  
      <td>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </td>
    </tr>
    
    <tr *ngFor="let row of studentsData">
      <td>
        <div class="d-flex align-items-center">
          <img
              src="https://mdbootstrap.com/img/new/avatars/7.jpg"
              class="rounded-circle"
              alt=""
              style="width: 45px; height: 45px"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{row.fullname}}</p>
            <p class="text-muted mb-0">{{row.mail}}</p>
          </div>
        </div>
      </td>
<td>
  {{row.cin}}
</td>
      <td>
        <p class="fw-normal mb-1">{{row.class}}</p>
      
      </td>
      <td>
      {{row.groupe}}
      </td>
      
   
      <td>
       
        <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:blue"></i>
        <i class="fa fa-trash-o" aria-hidden="true"  style="color:red"></i>
      </td>
    </tr>
  </tbody>
</table>
</div>
</nav>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" >Informations</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit(signupForm)" #signupForm="ngForm" enctype="multipart/form-data">
         
          
          <div>
            <section  style="display: flex;justify-content: space-evenly;">
            <div class="mb-3">
              <mat-form-field appearance="fill">
                <mat-label>Full Name</mat-label>
                <input matInput   required  For="username" ngModel> 
                </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field appearance="fill">
                <mat-label>Cin</mat-label>
                <input matInput   required  for="cin" ngModel> 
                </mat-form-field>
            </div>
          
          </section>
          <section  style="display: flex;justify-content: space-evenly;">
        
       </section>
          <section  style="display: flex;justify-content: space-evenly;">
            <div class="mb-3">
              <mat-form-field appearance="fill">
                <mat-label>Class</mat-label>
                <input matInput   required  for="diplome" ngModel> 
                </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field appearance="fill">
                <mat-label>Groupe</mat-label>
                <input matInput   required  > 
                </mat-form-field><br>
            </div>
           
      </section>
      <div class="mb-3">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput   required > 
          </mat-form-field>
          
      </div>
      <div class="mb-3">
        <div class="input-group">
          <input
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            [(ngModel)]="model"
            ngbDatepicker
            #d="ngbDatepicker"
          />
          <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
          </div>
      </div>
   
        </div>
      
      
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" >Add</button>
      </div>
    </div>
  </div>
</div>


