
<app-tete></app-tete>

<nav class="flex">
<app-sidenav></app-sidenav>

<div class="parttwo">
    <hr>
    <section class="head">
      
        <div>
          
<h2 style="padding-right: 640px;color:rgb(16, 140, 241)">Professors </h2>
<p style="color:gray;font-size: 9pt;">TED university</p>
</div>


<div class="buttons">
<button type="button" class="btn btn-light">List View</button>
<button type="button" class="btn btn-light"  data-bs-toggle="modal" data-bs-target="#exampleModal1">Add</button>
</div>
</section>
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-light">
    <tr>
      <th >Name</th>
      <th>CIN</th>
     
      <th>Phone Number</th>
      <th>Date of birth </th>

      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
   
    <tr *ngFor="let row of professorDetails">
      <td>
        <div class="d-flex align-items-center">
          <img
          [src]="row.image?'http://localhost:8099/api/v1/springfever/file-system/image/'+row.userid:'https://ibb.co/P4xrHT3'"
              class="rounded-circle"
              alt=""
              style="width: 45px; height: 45px"
              />
          <div class="ms-3">
            <p class="fw-bold mb-1">{{row.username}}</p>
            <p class="text-muted mb-0">{{row.email}}</p>
          </div>
        </div>
      </td>
<td>
  {{row.cin}}
</td>
      <td>
      {{row.phoneNumber}}
      </td>
      <td>
        {{ row.dob  | date:'yyyy-MM-dd' }}
        </td>
      
   
      <td>
       
        <i class="fa fa-pencil-square-o" aria-hidden="true" style="color:blue"></i>
        <i class="fa fa-trash-o" aria-hidden="true"  style="color:red"></i>
      </td>
    </tr>
  </tbody>
</table>
</div>

</nav>

<!-- Modal1-->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel" >Informations</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="ProfessorsForm">
         
          
          <div>
            <section  style="display: flex;justify-content: space-evenly;">
            <div class="mb-3">
              <mat-form-field appearance="fill">
                <mat-label>Full Name</mat-label>
                <input matInput   required > 
                </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field appearance="fill">
                <mat-label>Gender</mat-label>
                <select matNativeControl required >
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                
                </select>
                </mat-form-field><br>
            </div>
          </section>
          <section  style="display: flex;justify-content: space-evenly;">
          <div class="mb-3">
            <mat-form-field appearance="fill">
              <mat-label>Phone Number</mat-label>
              <input matInput   required  type="number"> 
              </mat-form-field>
          </div>
          <div class="mb-3">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput   required > 
              </mat-form-field>
          </div></section>
          <section  style="display: flex;justify-content: space-evenly;">
            <div class="mb-3">
              <mat-form-field appearance="fill">
                <mat-label>Departement</mat-label>
                <input matInput   required > 
                </mat-form-field>
            </div>
           
          <div class="mb-3" > 
            <div class="input-group">
              <input
                class="form-control"
                placeholder="yyyy-mm-dd"
                name="dp"
                [(ngModel)]="model"
                ngbDatepicker
                #d="ngbDatepicker"
              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
            </div>
            
          </div>
         
      </section>
        </div>
      <div>
          
       
        </div>
      
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" >Add</button>
      </div>
    </div>
  </div>
</div>
