
<app-tete></app-tete>

<nav class="flex">
<app-sidenav></app-sidenav>

<div class="parttwo">
    <hr>
    <section class="head">
      
        <div>
          
<h2 style="padding-right: 640px;color:rgb(16, 140, 241)">Courses</h2>
<p style="color:gray;font-size: 9pt;">TED university</p>
</div>


<div class="buttons">
<button type="button" class="btn btn-light">List View</button>
<button type="button" class="btn btn-light"  data-bs-toggle="modal" data-bs-target="#exampleModal1">Add</button>
</div>
</section>
<section class="content">

<div class="card" style="width: 18rem;">

  <img src="assets\phpcourse.jpg" class="card-img-top">
    <div class="card-body">
      <h1 class="card-title">PHP Development Course</h1>
      <h5 class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel inventore reiciendis itaque qui tempore error perferendis quidem, esse ab, molestias quos odio accusamus earum ratione ullam alias quaerat minus! Incidunt.</h5>
    
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="\assets\management.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title">Account Management Course</h1>
      <h5 class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel inventore reiciendis itaque qui tempore error perferendis quidem, esse ab, molestias quos odio accusamus earum ratione ullam alias quaerat minus! Incidunt.</h5>
    
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="\assets\angularcourse.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title">Angular Programmer Course</h1>
      <h5 class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel inventore reiciendis itaque qui tempore error perferendis quidem, esse ab, molestias quos odio accusamus earum ratione ullam alias quaerat minus! Incidunt.</h5>
    
    </div>
  </div>


</section>
</div>
</nav>
