.flex{
    display: flex;
}
.parttwo{
    padding: 50px;
    padding-left: 200pt;
}
.content{
    padding: 20pt;
    display: inline-flex;

}
.value{
    color:black;
    font-size: 15pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head{
    display: flex;
justify-content: space-evenly;

}
.card-img-top{
    height: 160px;
}

