
<app-tete></app-tete>

<nav class="flex">
<app-sidenav></app-sidenav>

<div class="parttwo">
    <hr>
    <section class="head">
      
        <div>
          
<h2 style="padding-right: 640px;color:rgb(16, 140, 241)">Courses</h2>
<p style="color:gray;font-size: 9pt;">TED university</p>
</div>


<div class="buttons">
<button type="button" class="btn btn-light">List View</button>
<button type="button" class="btn btn-light"  data-bs-toggle="modal" data-bs-target="#exampleModal1">Add</button>
</div>
</section>
<section class="content">
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>


</section>
</div>
</nav>
