.header {
    height: 50px;
    width: 100%;
    padding: 20px 40px;
    background: rgb(33,33,33);
    background: linear-gradient(90deg, rgba(33,33,33,1) 30%, rgb(255, 255, 255) 61%, rgb(255, 255, 255) 75%, rgb(255, 255, 255) 78%);
    color:#545554;
    display: flex;
    justify-content: space-between;
   
   
  }
  #all{
   padding-bottom: 30px;
   flex: 1 1 auto;
   position: fixed;
   overflow-y: auto;
   z-index: 1;
  }
  .logo {
    font-weight: bold;
    font-size: 20px;
    color: rgba(254,213,27,1);
    
  }
  .user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #545554;
    
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:#fff;
  }
   
  .user {
    display: flex;
    align-items: center;
    font-weight: bold;
  
  }