<div style="width: 947pt;" id="all">
<div class="header">
    <div class="logo">DASHBORDS</div>
    <div class="user">
     <div style="padding-right: 10px;"> 
    <i class="fa fa-bell" aria-hidden="true"></i>
      <span class="badge rounded-pill badge-notification bg-danger">1</span>
    </div>
    <div style="padding-right: 10px;" > 
    <i class="fa fa-envelope" aria-hidden="true"></i></div>
      <div class="user-name">TED university</div>
      <div class="user-image">AD</div>
    </div>
</div>
</div>