
<div class="container">
    <div class="header">

      <app-tete></app-tete>
    </div>
    <div class="main-container">
        <div class="side-nav">
            <app-sidenav></app-sidenav>
          </div>
          
      <div class="main">
        <br><br>
        <div class="widget-container">
         
       
          <div class="widget red">
            <div class="icon">
              <fa-icon [icon]="faUniversity"></fa-icon>
            </div>
            <div class="value">
              <div class="top">15</div>
              <div class="bottom">Admissions</div>
            </div>
          </div>
     
        </div>
      

      </div>
      
    </div>
    <app-admissions-stat></app-admissions-stat>
  

  </div>